/* NAVBAR   */

.navbar .mobile-logo {
    width: 50px;
}


/* SIDEBAR */

.sidebar {
    width: 70px;
    height: calc(100vh - 88px);
    background-color: #12293E;
    background-image: url(/img/sidebar-bg.png) ;
}

@media (min-width:768px) {
    .sidebar {
        width: 150px;
    }
}

.sidebar i {
    width: 20px;
}

/* SIDEBAR HOVER */

@media screen and (min-width: 768px) {
    .sidebar .icon-nav:hover {
        background-color: grey;
    }
}

/* MAIN */

.container_main {
    padding-left :70px;
    padding-top:88px;
    overflow-x: hidden;
}

@media screen and (min-width:768px) {
    .container_main {
        padding-left: 150px;
    }
}

/* BLUE NAV  */

.badge {
    background-color: #165BBA!important;
}

/* NEXT CLASSES */

.next_classes .table th img{
    height: 40px;
}

.next_classes, .card_faq {
    margin-right: 2rem;
}
