/* NAVBAR    */

.navbar img {
    width: 50px;
}

.logo-lg img {
    width: 150px;
}

/* SIDEBAR */

.sidebar {
    height: 100vh;
    position: fixed;
    left: 0;
    margin-top: 88px;
    background-color: #051E34;
    background-image: url(../img/sidebar-bg.png);
}

li {
    list-style: none;
}

.sidebar-down {
    align-self: center;
}

/* CENTRAL */

.central {
    margin-top: 88px;
    position: fixed;
    right: 0;
    width: calc(100% - 120px);
    background-color: #1B72E8;
}

@media screen and (max-width:991px) {
    .central {
        width: calc(100% - 63px);
    }
}
